@page
@model ASP.NET_Core_Razor_Page.Pages.Admin.Blogs.ListModel
@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Blog Posts</h1>
    </div>
</div>
@{
    var messageDescription = (string)ViewData["MessageDescription"];
}
@{
    if (!string.IsNullOrWhiteSpace(messageDescription))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Html.Raw(messageDescription)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>HEADING</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var blogPost in Model.BlogPosts)
            {
                <tr>
                    <td>@blogPost.Id</td>
                    <td>@blogPost.Heading</td>
                    <td>
                        <a href="/Admin/Blogs/Edit/@blogPost.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
